.box{
    height: 400px;
    width: 700px;
    border:white ;
    background-color:#643e83cf ;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 5px 6px 7px #3f006c;
}
body{
       display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
H1{   text-align: center;
margin-bottom: 30px;}
#mark{
    justify-content: center;
    align-items: center; 
    width: 56%;
    height: 50px;
    border-radius: 15px;
    margin-bottom:30px ;
}
button{
    width: 20%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 15px;
}
#output{
  font-size: 34px;
}